.Side-fead-enter-active ,
.Side-fead-leave-active {
  transition: all .5s;
}

.Side-fead-enter {
  opacity: 0;
  transform: translate3d(30% ,0 ,0);
}
.Side-fead-leave-to {
  opacity: 0;
  transform: translate3d(-30% ,0 ,0);
}